.formBg {
    background: radial-gradient(circle, rgba(13, 12, 29, 1) 0%, rgba(0, 0, 0, 1) 100%);
    min-height: 100vh;
    padding-top: 30px;
    color: white;
}

.centering {
    width: 55vw;
    margin: 0 auto;
}