.formBg {
  width: 700px;
  padding-top: 30px;
  zoom: 70%;
  text-align: center;
  margin: auto !important;
}

.centering {
  margin: auto;
}

* {
  font-size: 25px;
}

.saveBtn {
  width: 300px;
  margin-bottom: 20px;
}

.Y {
  margin-bottom: 15px!important;
}
