/* .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #ece2e1;
}

.right {
    right: 0;
    background-color: #fcd1d1;
}

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button {
    z-index: 6;
    color: red;
}

.eventWrapper {
    display: flex;
}

.eventMainInfo {
    display: flex;
    flex-direction: column;
}

.eventDetails {
    display: flex;
    justify-content: space-around;
} */

.sticker {
    position: relative;
    top: -55%;
}

.sticker span {
    font-size: 0.7em;
    position: absolute;
    top: 45%;
    left: 7%;
    font-weight: bold;
    z-index: 1;
}

.bodyRelative {
    position: relative;
    top: -27%;
}

.btn {
    max-width: "18vw";
    margin-top: 7%;
}

.title {
    display: inline;
    margin-left: 12px;
    padding-top: 2em;
}