.appName {
  font-size: 60px;
  text-align: center;
  font-family: 'BalsamiqSans-Bold';
  padding-bottom: 4rem;
}

/*.giphy {*/
/*  width: 70px;*/
/*  height: 70px;*/
/*}*/

.logo {
  width: 200px;
  height: 200px;
  border-radius: 80%;

}
