.chatModule {
  position: fixed;
  top:8.6%;
  left: 33%;
  right: 3%;
  min-height: 88.4%;
  min-width: 64%;
  padding: 2%;
  display: flex;
  flex-direction: column-reverse;
}

.chatInput {
  position: fixed;
  padding: 1%;
  top: 90%;
  min-height: 7%;
  bottom: 3%;
  left: 33%;
  right: 3%;
  text-align: center;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #143861;
}
::-webkit-scrollbar-thumb {
  background-color: #843465;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.chatInModule {
  top: 15%;
  bottom: 9.9%;
  left: 33%;
  right: 3%;
  position: fixed;
  padding: 2%;
  overflow-y: scroll;
  scroll-snap-align: end;
}

.userRight {
  text-align: right;
  overflow-wrap:break-word;
  max-width: 80%;
  min-width: 20%;
  background: #e9e9e9;
  border-radius: 8px;
  align-self: flex-end;
  padding: 9px;
  color: #302f2f;
}

.userRR {
  display: flex;
  justify-content: flex-end;
}
.chatAvatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50px;
}

.nonUserDiv {
  background: #e9e9e9;
  border-radius: 8px;
  max-width: 80%;
  padding: 9px;
  overflow-wrap:break-word;
  color: #302f2f!important;
}
.author {
  color: #000000;
}
